name: Publish Python Package to PyPI

on:
  release:
    types: [published]

permissions:
  contents: read
  id-token: write  # Required for trusted publishing (no password needed)

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"

      - name: Install build dependencies
        run: python -m pip install --upgrade pip build

      - name: Remove old egg-info and dist folders
        run: |
          rm -rf *.egg-info
          rm -rf ppai.egg-info
          rm -rf ppam.egg-info
          rm -rf dist


      - name: Build package
        run: python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.8
        with:
          skip-existing: true
